body {
  /* background-color: aquamarine; */
}
@font-face {
  font-family:'Nastaligh';
  src: url(Component/Fonts/IranNastaliq/IranNastaliq.ttf) format('truetype');
}
.navresponse {
  font-family:Nastaligh;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  /* width: 1500px; */
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav2 {
  /* background: hsl(214, 10%, 86%); */
  height: 80px;
  width: 100%;
}
label.logo {
  /* color: rgb(34, 88, 39); */
  font-size: 38px;
  line-height: 30px;
  margin-top: 1%;
  margin-left: 10px;
  font-weight: bold;
  font-family: Nastaligh;
  /* text-decoration: underline overline; */
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
link{
    
    color: black;
}
a.activ,
a:hover {
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: rgb(15, 15, 15);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 27px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
 
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 27px;
    padding-left: 0px;
  }
  #imgpro {
    width: 122px;
    margin: 2px;
    height: 80px;
  }
  #styleservic {
    width: 200px;
    border-radius: 3px;
  }
  #imghome {
    width: 250px;
    height: auto;
  }
  #spanhome {
    font-weight: 10px;
  }
  ul {
    position:fixed;
    /* display: block; */
    width: 60%;
    color: rgb(14, 14, 14);
    height: 10px;
    background: hsl(0, 0%, 96%);
    top: 5px;
    left: -100%;
    /* margin-top: auto; */
    /* bottom:600px; */
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display:block;
    margin: 50px 0;
    line-height: 15px;
    /* bottom: 600px; */
  }
  a:hoverr,
  a.active {
    background: none;
    color: #0a0a0a;
  }
  #buttonhome{
    /* width: 200px; */
    font-size: 14px;
    margin-right: 4px;
    border-radius: 2px 2px 1px 2px;
    margin-bottom: 100px;
  }
 
  /* #buttonhome {
    margin-left: -2140px;
    margin-bottom: -1200px;
    font-size: 10px;
    width: 180px;
    height: 50px;
  }
  */
 
}
#check:checked ~ ul {
  left: 0;
}
#home {
  width: 1100px;
  background-size: cover;
  /* background-color: rgb(184, 180, 180) */
  background-image: url("");
}
#homestyle {
  display:flex;
  margin-top: 80px;

}
#imghome {
  margin-left: -12px;
  /* margin-top: -50px; */
  border-radius: 0px 90px 90px 10px;
}
#buttonhome {
  margin-top: 150px;
  margin-left: 150px;
  /* border-radius: 3%; */
/* border: none; */
  width: 58%;
  height: 14%;
  color: #0a0a0a;
  border-radius: 40px 90px 10px 90px;
  /* font-weight:bold; */
/* 
  font-family:sans-serif;
  background-color: rgb(218, 216, 216) */
}
#buttonhome:hover {
  transition: all 2s, color 1s;
  background: hsl(66, 61%, 73%);
}
#styleservic{
  margin: 5px;
  border-radius: 4px;
}
/* .SpanHomeAll{
  font-family: Nastaligh;
  font-size: 40px;
  color: white;
} */
#divhomeall
{

  background-color: #0a0a0a;
}